$color-principal:#FB2367;

$color-secundario:#2d2c50;

$box-shadow-principal:#FB2367 1px 1px 45px;

$font-principal: "Amatic SC", cursive;

$font-secundaria:"Monoton", cursive;

$font-alterna: Roboto, sans-serif;




h1 {
    margin-top: 20%;
    color: #fff;
    font-size: 400%;
   
  }
  span.h1aqua 
  
  h5 {
    color: white;
    font-size: 200%;
    font-family: roboto;
    font-weight: lighter;
  }
  span {
    color: white;
   
  }
  h2 {
    text-align: center;
    font-family: $font-principal;
    font-size: 4em;
    transition: 1s;
  }
  
  h2:hover {
    color: aqua;
    transition: 1s;
  }

.about {
  height: 800px;
  background-color: $color-secundario;
  display: flex;
  padding-top: 10%;
  padding-bottom: 10%;
  .ab-imagen {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    img {
      height: 500px;
      width: auto;
      border-radius: 40% solid;

    }
    .about .ab-contenido .ab-contenido-info:hover {
      box-shadow: aqua 1px 1px 1px 15px;
    }
    .iconos3
    {
      display: flex;
    }
  li.iconos {
    display: flex ;
    
    list-style: none ;
    
  }
 ul.iconos1{
   display: flex ;
 }
  .ab-contenido {
    flex-basis: 50%;
    padding: 0% 15% 0% 5%;
    color: white;
    .ab-contenido-titulo {
      hr {
        width: 100%;
        color: $color-principal;
        height: 2px;
      }
    }
     .ab-contenido-info:hover {
      box-shadow: aqua 1px 1px 1px 15px;
    }
    .ab-contenido-info {
      display: flex;
      margin-top: 10%;
      border-radius: 25px;
      border: 1px solid;
      border-color: $color-principal;
      border-radius: 1%;
      padding: 3%;
      height: 40%;
      gap: 100px;
      .info-left {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        justify-content: space-around;
        word-spacing: 5px;
        p {
          margin: 0;
        }
      }
      .info-rigth {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        justify-content: space-around;
        word-spacing: 5px;
        p {
          margin: 0;
        }
      }
    }
    .btn-descargar {
      margin-top: 10%;
      .link-descargar {
        text-decoration: none;
        color: white;
      }
    }
  }
  }}